legend{
    text-align: center;
    padding:10px;
    color: white;
    font-size: 2.5rem;
   
}
fieldset{
    background-color: gray;
    padding:10%;
    margin:10%;
    border-radius: 10px;
}

.label{
    margin-left: 5%;
    color:white;
}
body{
    background-color:#efefe7;
   
}

.form-photo{
    margin-top: 30px;
}

/* .deco{
    position: relative;
    margin-left:80%;
    transform: translateY(-30px);

}

.retour{
     position: relative;
    margin-left:10%;
    transform: translateY(-30px)
} */
.sub{
    margin-left: 50%;
    margin-top: 10%;
    transform: translateX(-50%);
}
#map{
    position: relative;
    width: 60%;
    border: 5px solid #bdc3c7;
} 

#fondMap{
    /* background: #7b8a8b; */
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#fondMap #bandeau h1:first-child{
    color:#bdc3c7;
    margin: 10px;
    text-align: center;
    font-weight:bolder;
} 

.name{
    font-size: medium!important;
}

#corp{
    width: 100%;
    height: 100%;
    /* display: flex; */
    /* flex-flow: row wrap; */
    
}
#corp div{
    height: 100%;
}
#reglage{
    width: 40%;
  
} 
.leaflet-top, .leaflet-bottom{
    display:none;
}

#bandeau{
    display: flex;
}

#bandeau > img{
    height: 40px;
    width: 60px;
}

#bon img{
    width:10px ;
    height: 10pxs;
}

